@charset "UTF-8";

#container {
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
}

.motify_Title {
    font-size: 50px;
    text-align: left;
    margin-top: 30px;
}

.motify_User {
	display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    height: 650px;
}

.motify_User_Img {
	flex: 1;
	margin: 5px;
	padding: 5px;
}

.motify_User_Img>img {
	width: 100%;
	height: 60%;
}

.motify_User_Info {
	flex: 2;
	border: 1px solid;
	margin: 5px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

.motify_User_Info_ID {
	font-size: 20px;
	padding-bottom: 20px;
}

.motify_User_Info_Block {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	justify-content: space-between;
	flex-wrap: wrap;
	vertical-align: baseline;
}

.motify_User_Info_Title {
	flex: 1;
}

.motify_User_Info_Input {
	flex: 3;
	text-align: left;
	font-size: 15px;
	font-family: inherit;
	
}

.motify_User_Info_Input>select{
	width: 100px;
	font-family: inherit;
}

.motify_User_Info_Input>input[type="button"]{ 
	width: 80px;
    margin: 0 auto;
    height: 30px;
    background: #9BCE58;
    color: white;
    outline: none;
    border: 3px solid;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;

}

.motify_User_Info_Input>input[type="button"]:hover{
	background: white;
	color: #9BCE58;
}

.motify_Btn{
	margin: 10px auto;
	margin-top: 30px;
}


.motify_Btn>input[type="submit"]{
	width: 150px;
	height: 30px;
    margin: 0 auto;
    background: #9BCE58;
    color: white;
    outline: none;
    border: 3px solid;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.motify_Btn>input[type="submit"]:hover{
	background: white;
	color: #9BCE58;
}



.motify_Btn>input[type="button"]{
	width: 150px;
	height: 30px;
    margin: 0 auto;
    background: #DDE787;
    color: white;
    outline: none;
    border: 3px solid;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;

}

.motify_Btn>input[type="button"]:hover{
	background: white;
	color: #DDE787;
}

input[type="tel"]{
	border: 0;
	border-bottom: 2px solid;
}

input[name="email"]{
	border: 0;
	border-bottom: 2px solid;
}

