@charset "UTF-8";

#container {
	flex-direction: column;
	width: 100%;
	margin: auto;
	height: 450px;
}

.pwcheck_block {
    height: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 20px;
    left: -45px;
    top: -25px;
    border-right-color: rgb(96, 199, 216);
    border-left-color: rgb(221, 231, 135);
    background: linear-gradient(to left, rgb(96, 199, 216) 0%, rgb(96, 199, 216) 70%, transparent 70%, transparent 85%, rgb(221, 231, 135) 85%, rgb(221, 231, 135) 100%) top/100% 2px, linear-gradient(to left, rgb(221, 231, 135) 0%, rgb(96, 199, 216) 100%) bottom/100% 2px;
    background-repeat: no-repeat;
    
}

.pwcheck_Title {
	font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.pwcheck_input_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.pwcheck_Input_Title{
	font-size: 15px;
	padding: 5px ;
}
.pwcheck_Input>input[type="password"]{
	border: 1px thick gray;
	padding: 5px ;
	width: 80%;
	vertical-align: baseline;
}

.pwcheck_button>input[type="submit"]{
	width: 80px;
    margin: 0 auto;
    height: 20px;
    background: #9BCE58;
    color: white;
    outline: none;
    border: 2px solid;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.pwcheck_button>input[type="submit"]:hover{
	background: white;
	color: #9BCE58;
}

.pwcheck_button>input[type="button"]{
	width: 80px;
    margin: 0 auto;
    height: 20px;
    background: #DDE787;
    color: white;
    outline: none;
    border: 2px solid;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.pwcheck_button>input[type="button"]:hover{
	background: white;
	color: #DDE787;
}


